<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://app.koofr.net/content/links/2a8db278-3568-4a59-9d8b-2f3b2dfec9f8/files/get/conduit.ipa?path=%2F</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>app.cogwheel.conduit</string>
				<key>bundle-version</key>
				<string>2.4.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Conduit</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
