<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://app.koofr.net/content/links/afc1354e-2f03-41d7-9f9a-73e733ea38a9/files/get/LiveContainer.ipa?path=%2F</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.kdt.livecontainer</string>
				<key>bundle-version</key>
				<string>2.1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>LiveContainer</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
