<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://app.koofr.net/content/links/7b4f5d85-dcae-4b36-94e2-20f40f059620/files/get/YouTube%2B_19.38.2_1728233829.ipa?path=%2F</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.google.ios.youtube</string>
				<key>bundle-version</key>
				<string>19.38.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Youtube+</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
